<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>BioTools</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'superfish.js' %>
	<%= javascript_include_tag 'block.ui.js' %>
	<%= stylesheet_link_tag "styles", :media => "all" %>
	<script type="text/javascript"> 

	function breakSequence(sequence) {
	  var breakLength=70;
	  var brokenSeq="";
	  var positionCol="";
	  var i=0;
	  for(i=0;i<sequence.length;i+=breakLength) {
		positionCol = positionCol+(i+1)+"<br/>\n";
		brokenSeq = brokenSeq+sequence.substring(i,i+breakLength)+"<br/>"+"\n";
	  };
	  var seqFormat=new Array();
	  seqFormat[0]=brokenSeq;
	  seqFormat[1]=positionCol;
	  return seqFormat;
	}

    function get_menu() { 
		$.ajax({ url: 'menu/sequence/new', cache: false, dataType: "script" });
    }

	$(document).ready(function(){
		$("ul.nav").superfish();

// $(this).html()
		$(".sequence").each(function (i) { 
			seq = breakSequence($(this).html());
			$(this).replaceWith("<div class='formatted_sequence'>"+seq+"</div>");
		});

		$('#log').click(function() { 
		    jQuery.blockUI({ message: $('#login_form') }); 
		});

        $('#sequence_new').click(function() { 
            $.blockUI({ message: '<h1><img src="/images/busy.gif" /> Just a moment...</h1>' }); 
            get_menu(); 
        });
	});
	</script>
  </head>
  <body>
  <div id="overlay" style="display:none;"></div>
  <div id="login_form" style="display:none;">
	<%= render :partial => '/sessions/login' %>
  </div>
  <div id="container">
	<div id="toolbar">
		<ul class="nav">
			<li class="current">
				<a href="#a">Sequences</a>
				<ul>
					<li id="sequence_new"><a href="#aa">New</a></li>
					<li id="sequence_open"><a href="#ab"><%= link_to "Open", sequences_path %></a></li>
					<li id="sequence_recent"><a href="#ac">Recent</a></li>
				</ul>
			</li>
			<li><a href="#c">Tools</a></li>
			<li><a href="#b">Literature</a></li>
			<li>
				<a href="#d">People</a>
				<ul>
					<li><a href="#da">My Lab</a></li>
					<li><a href="#db">Friends Lab 1</a></li>
					<li><a href="#db">Friends Lab 2</a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav" id="usertab">
			<% if logged_in? %>
			<li><a href="#e"><%= link_to "Sign Out", logout_path %></a></li>
			<% else %>
			<li id="log"><a href="#e"><%= link_to "Sign In", login_path %></a></li>
			<li><a href="#e"><%= link_to "Register", signup_path %></a></li>
			<% end %>
		</ul>
	</div>
    <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
    <% if flash[:warning] %><div class="warning"><%= flash[:warning] %></div><% end %>
	<div id="frame"><%= yield :layout %></div>
  </div>
  </body>
</html>