<h1><%=h @sequence.label %></h1>
<h2><%=h @sequence.acid %></h2>

<p>
  <b>Data:</b>
  <%=h @sequence.data %>
</p>
<%= @sequence.fluzy %>

<%= link_to 'Edit', edit_sequence_path(@sequence) %> |
<%= link_to 'Back', sequences_path %>
